@charset "UTF-8";
/* CSS Document */
html {
    height: 100%;
	 font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W6', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
}

body {
	background-color: #111;
	height: 100%;
  margin: 0;
	background-image:
    linear-gradient(
      transparent 95%,
      rgba(255, 255, 255, 0.4) 5%
    ),
    linear-gradient(
      90deg,
      transparent 95%,
      rgba(255, 255, 255, 0.4) 5%
    );
	background-size: 15px 15px;
	
}


/*--------------コンテナ系--------------*/

.menu{
	float: left;
	position:fixed;
	width: 300px;
	height: 100%;
	color:#FFF;
	background-color: rgba(10,10,10,0.7);
	border-width: 1px;
	border-color: #CCC;	
}

.cont{
	float:right;
	position: relative;
	width:calc(100% - 380px);
	margin-left:10px;	
	margin:10px;
	padding: 30px;
	color:#FFF;
	background-color: rgba(25,25,25,0.8);
}

/**/

.nav_link{
	display: block;
	vertical-align: middle;
  text-decoration: none;
}

.nav {
  padding-left: 0px;
	border-top: 1px solid #FFFFFF;
	 font-family: 'Raleway', 'Avenir Next', sans-serif; 
	
}

.nav li {
	display: -webkit-box; /* safari, Chrome */
  display: -moz-box;    /* Firefox */
  display: -o-box;      /* Opera */
  display: -ms-box;     /* IE */
  display: box;         /* ベンダープレフィックスなし */
	-webkit-box-align: center; /* safari, Chrome対応 */
	-moz-box-align: center;    /* Firefox対応 */
	-o-box-align: center;      /* Opera対応 */
	-ms-box-align: center;     /* IE対応 */
	box-align: center;         /* ベンダープレフィックス無しも併記する */
	vertical-align : middle ;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #FFFFFF;
  text-align: left;
	padding-left: 30px;
	width: calc( 100% - 30px);
	height: 50px;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-ms-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
	
}

.nav li:hover {
  background-color: rgba(250, 250, 250, 0.2);
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-ms-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}

.nav li a {
	display: table-cell;
	vertical-align: middle;
	display: block;
  text-decoration: none;
}

#nav_active{
	background-color: rgba(250, 250, 250, 0.3);
}


/*--------------テキスト/画像系--------------*/
a{
	color: #FFF;
}

#logo{
	padding: 30px;
	margin: 20px;
	border: 1px solid #FFFFFF;
}

#logo_h1{
	font-family: 'Raleway', 'Avenir Next', arial, helvetica, Verdana, Geneva, sans-serif;
	font-size:200%;
	font-weight: bold;
	margin:0px;
}


h2{
	
}

.text{
	
	
}

.index_logo_container{
	display: flex;          /* 2 */
  justify-content: center;/* 3 */
  align-items: center;    /* 4 */
	height: 100%;
	float:right;
	position: relative;
	width:calc(100% - 380px);
	margin-left:10px;	
	margin:10px;
	padding: 30px;

}

.index_logo{
	color:#FFF;
	width: 80%;
}
